#cabecalho .navbar-nav {
    font-family: 'Francois One', sans-serif;
}

#cabecalho, #cabecalho .bg-light {
    background-color: #b97f8d !important;
}

#cabecalho .navbar-light .navbar-brand {
    color: #fff;
}
#cabecalho .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#search ..btn-outline-success {
    color: #040404;
    
}
#header .jumbotron {
    background-color: #000000 !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: #efdde7;
    text-align: center;
    /* DEFINE A ALTURA DE 70VH    VH=VIEW HEIGHT SIGNIFICA ALTURA DA TELA DO USUARIO */
    /* BACKGROUND PARA SETAR A IMAGEM DE FUNDO, URL É O CAMINHO DA IMAGEM, NO-REPEAT É SE A IMAGEM IRÁ REPETIR OU NAO
    O PRIMEIRO CENTER É O ALINHAMENTO HORIZONTAL O SEGUNDO O ALINHAMENTO VERTICAL. O COVER SERVE PARA DIZER QUE A IMAGEM DEVE 'COBRIR' TODO O ESPAÇO */
}

#header .display-4 {
    font-size: 6.5rem;
    font-family: 'Satisfy', cursive;
    color: #fff;
    text-align: center;
}

#header .btn-primary {
    color: #0c0c0c;
    background-color: #e1e5e8;
    border-color:#e1e5e8;
}
height: 70vh; 
url(caminho_da_imagem)no-repeat center center / cover;
